<div class="player-social">
  <a href="{{ social_facebook_url }}" target="_blank" title="Lien vers la page Facebook d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/facebook.svg') }}" alt="Icone facebook"></a>
  <a href="{{ social_twitter_url }}" target="_blank" title="Lien vers la page Twitter d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/twitter.svg') }}" alt="Icone twitter"></a>
  <a href="{{ social_youtube_url }}" target="_blank" title="Lien vers la page Youtube d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/youtube.svg') }}" alt="Icone youtube"></a>
  <a href="{{ social_flickr_url }}" target="_blank" title="Lien vers la page Flickr d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/flickr.svg') }}" alt="Icone flickr"></a>
  <a href="#newsletter-subscription" title="Recevez les infos et les podcasts d'Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/mail.svg') }}" alt="Icone mail"></a>
</div>
