<section class="content-main">
  {{ wo_render_breadcrumbs() }}

  <h1 class="content-title">{{ album.artist }} <small>{{ album.title }}</small></h1>
  <div class="media">
    <div class="media-left">
      {% if album.image -%}
        <figure>
          <img class="media-object" src="{% path album.image, 'large' %}" srcset="{% path album.image, 'large_mobile' %} 480w, {% path album.image, 'large' %} 1900w" alt="Illustration de l'album" class="bloc-content-img img-responsive">
        </figure>
      {% elseif album.thumbnailUrl %}
        <figure>
          <img class="media-object" src="{{ album.thumbnailUrl }}{# path album.image, 'large' #}" srcset="{{ album.thumbnailUrl }}{# path album.image, 'large_mobile' #} 480w, {{ album.thumbnailUrl }}{# path album.image, 'large' #} 1900w" alt="Illustration de l'album" class="bloc-content-img img-responsive">
        </figure>
      {%- endif %}
    </div>
    <div class="media-body">
      <div class="album-content">
        {{ album.content|raw }}
      </div>
      <ul class="list-unstyled">
        {% if album.artist -%}
        <li>
          <strong>Artiste</strong> :
          {{ album.artist }}
        </li>
        {%- endif %}
        {% if album.label or album.labelId -%}
        <li>
          <strong>Label</strong> :
          {% if album.labelId -%}
              <a href="{{ path('label', {'slug': album.labelId.slug}) }}">{{ album.labelId.title }}</a>
          {%- else -%}
              {{ album.label }}
          {%- endif %}
        </li>
        {%- endif %}
        {% if album.releaseDate -%}
        <li>
          <strong>Date de sortie</strong>:
          {{ album.releaseDate|localizeddate('long', 'none', 'fr-FR') }}
        </li>
        {%- endif %}
        {% if album.tracks|length > 0 -%}
        <li>
          <strong>Titres</strong>
          <ol class="list-unstyled track-list">
            {% for track in album.tracks %}
            <li class="track">
              {{ track.title }}
            </li>
            {% endfor %}
          </ol>
        </li>
        {%- endif %}
      </ul>
    </div>
  </div>

  {{ include('SiteBundle:Social:share.html.twig') }}

</section>
<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
  {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>
