
<div class="top-right" id=lastPodcasts>
	<h3>Derniers podcasts</h3>

 
	<!-- <marquee id="playing">{{ entities[0].getName() }}</marquee> -->
	<audio tabindex="0" id="player" controls="controls">
		<source src="{% path entities[0].filePodcast, 'reference' %}.ogg" type="audio/ogg" >
		<source src="{% path entities[0].filePodcast, 'reference' %}" type="audio/mpeg" >
		<a href="{% path entities[0].filePodcast, 'reference' %}" target="_blank">Téléchargez le podcast</a>
	</audio>
	
	<ul id="playlist">
	
	{% for entity in entities %}
		
		{% if(entity.filePodcast) %}
		<li>
			<a class="play{% if loop.first %} selected{% endif %}" alt="{% path entity.filePodcast, 'reference' %}">
				<span class="ddmm">{{ entity.getRealTimeStart()|date("d/m") }}</span> - 
				<span class="hhmm">{{ entity.getRealTimeStart()|date("H:i ") }}</span> - 
				{{ entity.getName()|truncate(27) }}
			</a> 
			{% if entity.getPost() %}
				<a class="link" href="/blog/{{ entity.getSlug() }}">Voir</a>
			{% endif %}
		</li>
		{% endif %}
	{% endfor %}
	
	</ul>
	
	<a href="/podcasts" class="more">Voir tous les podcasts</a>
	
	<!-- <div style="display:block; height:20px; clear:both; float:right;"> -->
		
	</div>
</div>

<script type="text/javascript">


    // we can now rely on $ within the safety of our "bodyguard" function
    //$(document).ready( function() {
	jQuery(function($){
    	
    	$('#playlist li a.play').click(function(){

    		//console.log($(this).attr('href'));
    		//console.log($('#lastPodcasts audio source').get(0));
    		//console.log($('#lastPodcasts audio source').get(1));

    		
    		
    		var src = $(this).attr('alt');

    		$('ul#playlist>li>a').removeClass("selected");
    		
    		$(this).addClass('selected');


			
    		console.log(src);
    		
    		var oggsource = '<source src="'+src+'.ogg" type="audio/ogg">';
    		var mp3source = '<source src="'+src+'" type="audio/mpeg">';
    		
    		//var qtfallbackContent = '<a href="'+src+'" target="_blank"><img src="http://www.euradionantes.eu/images/timeline/play.png" /></a>';

    		//var script = document.createElement('script');
    		//script.type = 'text/javascript';
    		//script.innerHTML = qtfallbackContent;
    	
    		$('audio#player').html('');
    		$('audio#player').append(oggsource);
    		$('audio#player').append(mp3source);
    		
    		//$('#lastPodcasts audio').append(qtfallbackContent);

			//$('#lastPodcasts audio').load();
			//$('#lastPodcasts audio').play();
			
			$("#playing").html($(this).html());
			
			$('audio#player').load();
			$('audio#player').trigger("play");
			
    		//console.log($(this).attr('href'));
    		//console.log($('#lastPodcasts audio source').get(0));
    		//console.log($('#lastPodcasts audio source').get(1));
			
    		
    		return false;
    		
    	});

    	
		
	});

	

</script>
