<section class="entry group">
	<div class="entry-content emission">
		<h3>Les podcasts</h3>
		<div class="dropdowns">
			<!--<h4>Emission</h4>-->
			<form action="{{ path(app.request.attributes.get('_route')) }}"  method="get">
				<select data-placeholder="Choisir une émission" style="width:300px;" class="chzn-select" tabindex="8" name="emission">
					<option value="">Toutes les &eacute;missions</option>
					{% for emission in emissions  %}
					<option value="{{ emission.id }}">{{ emission.name }}</option>
					{% endfor %}
				</select>
				<input class="btn-selectionner" type="submit" value="Sélectionner">
			</form>
		</div>
	    {% set class = 'first'%}
	    <div class="block group">
			<div class="navigation">
		    	{{ knp_pagination_render(podcasts) }}
			</div>
			<ul class="gallery-list group">
	    	{% for entity in podcasts %}
			    <li class="{{ class }}">

					<a href="{{ path('sonata_news_view', {'permalink': sonata_news_permalink(entity.post)}) }}">
						<figure>
							<div class="image">
								{%media entity.post.image ,'medium' with {'title': entity.post.title} %}
								<h2>
									<span>{{ entity.post.title }}</span>
								</h2>
							</div>
						</figure>
					</a>
					<audio controls="controls" preload="none" >
						<source src="{% path entity.filePodcast, 'reference' %}.ogg" type="audio/ogg" />
						<source src="{% path entity.filePodcast, 'reference' %}" type="audio/mpeg" />
						Your browser does not support the audio tag.
					</audio>
					{% if entity.realtimestart %}
					<div class="heure-podcast">
						<span>
							{{ entity.realtimestart|date('d/m') }}<br/>
							{{ entity.realtimestart|date('Y') }}<br/>
							{{ entity.realtimestart|date('H\\hi') }}
						</span>
					</div>
					{% endif %}

					<span class="titre-post">
						<a href="{{ path('sonata_news_view', {'permalink': sonata_news_permalink(entity.post)}) }}">{{ entity.post.abstract | truncate(80, true, "...") | raw  }}</a>
					</span>
					<div class="plus">
						<a href="{{ path('sonata_news_view', {'permalink': sonata_news_permalink(entity.post)}) }}">lire la suite</a>
					</div>
				</li>

				{% if  class == 'first'%}
					{% set class = '' %}
				{% else %}
					{% set class = 'first' %}
				{% endif %}
	        {% endfor %}
	    	</ul>
		    <div class="navigation">
		    	{{ knp_pagination_render(podcasts) }}
			</div>
		</div>
	</div>
</section>


