<section class="actu-list">
  {{ wo_render_breadcrumbs() }}

  <h1 class="actu-list-title">La playlist</h1>

  {% set top = playlists|first %}
  {% if top -%}
    <article data-clickable="true" class="bloc-content">
      <div class="bloc-content-inner">
        {# if top.image -%}
          <figure class="bloc-content-figure"><img src="{% path top.image, 'list_tablet' %}" srcset="{% path top.image, 'list_mobile' %} 480w, {% path top.image, 'list_tablet' %} 1900w" alt="{{ top.image.description }}" class="bloc-content-img img-responsive"></figure>
        {%- endif #}
        <div class="bloc-content-text">
          {# if top.collection -%}
            <span class="bloc-content-cat">{{ top.collection.name }}</span>
          {%- endif #}
          <time datetime="{{ top.featuredFrom | date('Y-m-d H:i') }}" class="bloc-content-date">{{ top.featuredFrom | localizeddate('long', 'none', 'fr-FR') }}</time>
          <h2 class="bloc-content-title">
            <a href="{{ path('playlist', {'slug': top.slug}) }}" data-clickable-target="true" title="Voir « {{ top.title }} »">{{ top.title }}</a>
          </h2>
          {{ top.resume|raw }}
        </div>
      </div>
    </article>

    <div class="list">
      {% for playlist in playlists[1:] %}
      <article data-clickable="true" class="bloc-content">
        <div class="bloc-content-inner">
          {# if playlist.image -%}
            <figure class="bloc-content-figure"><img src="{% path playlist.image, 'list_tablet' %}" srcset="{% path playlist.image, 'list_mobile' %} 480w, {% path playlist.image, 'list_tablet' %} 992w, {% path playlist.image, 'list_desktop' %} 1900w" alt="{{ playlist.image.description }}" class="bloc-content-img img-responsive"></figure>
          {%- endif #}
          <div class="bloc-content-text">
            {# if playlist.collection -%}
              <span class="bloc-content-cat">{{ playlist.collection.name }}</span>
            {%- endif #}
            <time datetime="{{ playlist.featuredFrom | date('Y-m-d H:i') }}" class="bloc-content-date">{{ playlist.featuredFrom | localizeddate('long', 'none', 'fr-FR') }}</time>
            <h2 class="bloc-content-title">
              <a href="{{ path('playlist', {'slug': playlist.slug}) }}" data-clickable-target="true" title="Voir « {{ playlist.title }} »">{{ playlist.title }}</a>
            </h2>
            {{ playlist.resume|raw }}
          </div>
        </div>
      </article>

      {% endfor %}
    </div>

  {%- else -%}
    <p><em>Aucun résultat</em></p>
  {%- endif %}

  {{ knp_pagination_render(playlists) }}

</section>
<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
  {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>
