<section class="content-main">
  <div class="breadcrumb"><a href="#" title="Lien vers la page d'accueil d'euradionantes" class="breadcrumb-item">Accueil</a><a href="#" title="Lien vers la page des actualitées" class="breadcrumb-item">Actualités</a><span class="breadcrumb-item">Les Lorem Ipsum en concert</span></div>

  <h1 class="content-title">{{ playlist.title }}</h1>

  {{ playlist.content|raw }}

  {% if playlist.albums -%}
    <article class="podcast podcast-list">
      <div class="podcast-title">Les albums</div>

      {% if playlist.albums|length > 0 %}
      {#<ul id="track-list">
          {% for album in playlist.albums %}
          <li class="track">
              <a href="{{ path('album', {'slug': album.slug}) }}">
                  <span class="album-title">{{ album.title }}</span> -
                  <span class="album-artist">{{ album.artist }}</span> -
                  <span class="album-label">{{ album.label }}</span>
              </a>
          </li>
          {% endfor %}
      </ul>#}
      {% for entity in playlist.albums %}
      <div class="media">
        <div class="media-left">
          {% if entity.image -%}
            <figure class="bloc-content-figure">
              <img class="media-object" src="{% path entity.image, 'list_tablet' %}" srcset="{% path entity.image, 'list_mobile' %} 480w, {% path entity.image, 'list_tablet' %} 992w, {% path entity.image, 'list_desktop' %} 1900w" alt="Illustration du label « {{ entity.title }} »" class="bloc-content-img img-responsive">
            </figure>
          {% elseif entity.thumbnailUrl %}
            <figure class="bloc-content-figure">
              <img class="media-object" src="{{ entity.thumbnailUrl }}" alt="Illustration du label « {{ entity.title }} »" class="bloc-content-img img-responsive">
            </figure>
          {%- endif %}
        </div>
        <div class="media-body">
          <h3 class="podcast-item-title"><a href="{{ path('album', {'slug': entity.slug}) }}">{{ entity.artist ~ ' ' ~ entity.title }}</a></h3>
          <p class="podcast-item-text">{{ entity.resume| truncate(80, true, "…") }}</p>
        </div>
      </div>

      {% endfor %}
    {% endif %}

    </article>
  {%- endif %}

  {{ include(':Social:share.html.twig') }}
</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
  </div>
</aside>
