{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}
<h3 class="comment-title2">Commenter, réagir</h3>{#'title_leave_comment'|trans({}, 'SonataNewsBundle') #}

{% if form.vars.errors|length > 0 -%}
  {% for i, error in form.vars.errors -%}
      <div class="comment-message"><i class="ico-info"></i><span>{{ error.message }}</span></div>
  {%- endfor %}
{% endif -%}

<div class="comment-message"><i class="ico-info"></i><span>Tous les champs sont obligatoires.</span></div>

<form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST" role="form">
    <div class="comment-textarea">
      {{ form_label(form.message, 'Votre commentaire', {'label_attr': {'class': 'comment-label'}}) }}
      {{ form_widget(form.message, {'attr': {'placeholder': 'Votre message ou commentaire'}}) }}
      {% if form.message.vars.errors|length > 0 %}
        <small class="comment-errors">
          {% for i, error in form.message.vars.errors -%}
            {% if i > 0 %}<br>{% endif %}
            <strong>{{ error.message }}</strong>
          {% endfor %}
        </small>
      {% endif %}
    </div>
    <div class="comment-inputs">
      <div class="comment-input">
        {{ form_label(form.name, 'Votre nom ou pseudo', {'label_attr': {'class': 'comment-label'}}) }}
        {{ form_widget(form.name) }}
        {% if form.name.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.name.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>
      <div class="comment-input">
        {{ form_label(form.email, 'Votre adresse e-mail', {'label_attr': {'class': 'comment-label'}}) }}
        {{ form_widget(form.email, {'attr': {'required': 'required'}}) }}
        {% if form.email.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.email.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>

      <div class="comment-input">
        {#<div data-sitekey="6LeHx_4SAAAAAGmoCxyy9ZP6UOKWjwMk7BFssfuW" class="g-recaptcha"></div>#}
        {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
        {{ form_widget(form.recaptcha) }}
        {% if form.recaptcha.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.recaptcha.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>
    </div>

    <input type="submit" value="Envoyer votre commentaire" class="comment-submit">

    {{ form_row(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
