<section class="actu-list">
  <div class="breadcrumb"><a href="#" title="Lien vers la page d'accueil d'euradionantes" class="breadcrumb-item">Accueil</a><a href="#" title="Lien vers la page des actualitées" class="breadcrumb-item">Actualités</a><span class="breadcrumb-item">Les Lorem Ipsum en concert</span></div>
  <h1 class="actu-list-title">Toutes les actualités</h1>
  <span class="actu-list-counter">Page {{ news.currentPageNumber }} sur {{ news.getPageCount }}</span>
  {# dump(news.getTotalItemCount) #}

  <ul class="actu-list-filters">
    <li class="actu-list-filter{% if not app.request.get('collection') %} actu-list-filter-selected{% endif %}"><a href="{{ path('listeactus') }}">Tout</a></li>
    {% for cat in collection %}
    <li class="actu-list-filter{% if cat.id == app.request.get('collection') %} actu-list-filter-selected{% endif %}"><a href="{{ path('listeactus', {'collection': cat.id}) }}" title="Filtrer les actualités de type « {{ cat.name }} »">{{ cat.name }}</a></li>
    {% endfor %}
  </ul>

  {% set top = news|first %}
  {% if top -%}
    <article data-clickable="true" class="bloc-content">
      <div class="bloc-content-inner">
        {% if top.image -%}
          <figure class="bloc-content-figure"><img src="{% path top.image, 'list_tablet' %}" srcset="{% path top.image, 'list_mobile' %} 480w, {% path top.image, 'list_tablet' %} 1900w" alt="Illustration de l'article « {{ top.title }} »" class="bloc-content-img img-responsive"></figure>
        {%- endif %}
        <div class="bloc-content-text">
          {% if top.collection -%}
            <span class="bloc-content-cat">{{ top.collection.name }}</span>
          {%- endif %}
          <time datetime="{{ top.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ top.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
          <h2 class="bloc-content-title">
            <a href="{{ path('sonata_news_view', { 'permalink': sonata_news_permalink(top) }) }}" data-clickable-target="true" title="Lire l'article « {{ top.title }} »">{{ top.title }}</a>
          </h2>
          {{ top.abstract|raw }}
        </div>
      </div>
    </article>

    <div class="list">
      {% for post in news[1:] %}
      <article data-clickable="true" class="bloc-content">
        <div class="bloc-content-inner">
          {% if post.image -%}
            <figure class="bloc-content-figure"><img src="{% path post.image, 'list_tablet' %}" srcset="{% path post.image, 'list_mobile' %} 480w, {% path post.image, 'list_tablet' %} 992w, {% path post.image, 'list_desktop' %} 1900w" alt="Illustration de l'article « {{ post.title }} »" class="bloc-content-img img-responsive"></figure>
          {%- endif %}
          <div class="bloc-content-text">
            {% if post.collection -%}
              <span class="bloc-content-cat">{{ post.collection.name }}</span>
            {%- endif %}
            <time datetime="{{ post.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ post.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
            <h2 class="bloc-content-title">
              <a href="{{ path('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" data-clickable-target="true" title="Lire l'article « {{ post.title }} »">{{ post.title }}</a>
            </h2>
            {{ post.abstract|raw }}
          </div>
        </div>
      </article>

      {% endfor %}
    </div>
  {%- else -%}
    <p><em>Aucun résultat</em></p>
  {%- endif %}

  {{ knp_pagination_render(news) }}

</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}

  </div>
</aside>
