<div>
    <h1>Toutes les actualités</h1>

    <div id="news-collection">
        <a href="{{ path('listeactus') }}" class="post-cat{% if not app.request.get('collection') %} active{% endif %}">Tout</a>
        {% for cat in collection %}
        <a href="{{ path('listeactus', {'collection': cat.id}) }}" class="post-cat{% if cat.id == app.request.get('collection') %} active{% endif %}">{{ cat.name }}</a>
        {% endfor %}
    </div>
    <div id ="news-list">
        {% for post in news %}
        <article class="news">
            <a href="{{ path('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                {% if post.image -%}
                    <figure>{% media post.image ,'medium' %}</figure>
                {%- endif %}
                <div class="entry-meta">
                    {% if post.collection -%}
                        <strong>{{ post.collection.name }}</strong>
                    {%- endif %}

                    <time datetime="{{ post.publicationDateStart | date('Y-m-d H:i') }}">{{ post.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="post-resume">{{ post.abstract }}</div>
            </a>
        </article>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
</div>
