<section class="content-main">
  {{ wo_render_breadcrumbs() }}

  {% if post.collection -%}
    <span class="bloc-content-cat">{{ post.collection.name }}</span>
  {%- endif %}

  {% if post.podcast %}
  <time datetime="{{ post.podcast.realTimeStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ post.podcast.realTimeStart | localizeddate('long', 'none', 'fr-FR') }}</time>
  {% else %}
  <time datetime="{{ post.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ post.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
  {% endif %}

  <h1 class="content-title">{{ post.title }}</h1>

  {% if post.image -%}
    <figure class="content-img">
      <img src="{% path post.image, 'large' %}" srcset="{% path post.image, 'large_mobile' %} 480w, {% path post.image, 'large' %} 1900w" alt="{{ post.image.description }}" class="bloc-content-img img-responsive">
    </figure>
  {%- endif %}

  <div class="rte">
    {{ post.content|raw }}
  </div>

  {% if post.author %}
  <div data-clickable="true" class="author">
    {#% if post.author.image is defined %}
    <img src="//unsplash.it/50x50" alt="" class="author-img">
    {% endif %#}
    <div class="author-text">
      <div class="author-sup">Rédigé par</div>
      {#<a href="#" data-clickable-target="true" title="Lien vers les articles de {{ authorname }}" class="author-title">{{ authorname }}</a>#}
      <span class="author-title">{{ post.author.fullname }}</span>
    </div>
  </div>
  {% endif %}

  {% if post.podcast %}
    {{ include('PodcastBundle:Podcast:player.html.twig', {'podcast': post.podcast}) }}
  {% endif %}

  {{ include('SiteBundle:Social:share.html.twig', {'podcast': post.podcast}) }}

  <section class="comment">
    {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

    {% if post.iscommentable %}
      {% render(controller('SonataNewsBundle:Post:addCommentForm', {
          'postId': post.id,
          'form': form,
          'title' : post.title~' - Podcast - Eur@dioNantes'
      })) %}
    {% else %}
      <p><em>{{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}</em></p>
    {% endif %}
  </section>
</section>
<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>

{% if post.relatedPosts %}
<div class="content-bottom">
  {% for rel in post.relatedPosts %}
  <article data-clickable="true" class="bloc-content{% if rel.type == 'podcast' %} bloc-podcast{% endif %}">
    <div class="bloc-content-inner">
      {% if rel.image -%}
        <figure class="bloc-content-figure"><img src="{% path rel.image, 'list_tablet' %}" srcset="{% path rel.image, 'list_mobile' %} 480w, {% path rel.image, 'list_tablet' %} 1900w" alt="{{ rel.image.description }}" class="bloc-content-img img-responsive"></figure>
      {%- endif %}
      <div class="bloc-content-text">
        {% if rel.collection -%}
          <span class="bloc-content-cat">{{ rel.collection.name }}</span>
        {%- endif %}
        {% if rel.podcast -%}
          <time datetime="{{ rel.podcast.realTimeStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ rel.podcast.realTimeStart | localizeddate('long', 'none', 'fr-FR') }}</time>
        {%- else -%}
          <time datetime="{{ rel.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ rel.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
        {%- endif %}
        <h2 class="bloc-content-title">
          <a href="{{ path('sonata_news_view', { 'permalink': sonata_news_permalink(rel) }) }}" data-clickable-target="true" title="Lire l'article « {{ rel.title }} »">{{ rel.title }}</a>
        </h2>
        <p class="bloc-content-intro">{{ rel.abstract|truncate(80, true, '…') | raw }}</p>
      </div>
    </div>
  </article>

  {% endfor %}
</div>
{% endif %}
