<div class="share-mini">
  <div class="share-buttons">
    <a href="{{ social_twitter_url }}" title="Euradionantes sur Twitter" class="share-twitter" target="_blank"><img src="{{ asset('/assets/images/twitter.svg') }}" alt="Icone Twitter"></a>
    <a href="{{ social_facebook_url }}" title="Euradionantes sur Facebook" class="share-facebook" target="_blank"><img src="{{ asset('/assets/images/facebook.svg') }}" alt="Icone Facebook"></a>
    <a href="{{ social_googleplus_url }}" title="Euradionantes sur Google" class="share-google" target="_blank"><img src="{{ asset('/assets/images/google.svg') }}" alt="Icone Google+"></a>
    <a href="{{ social_flickr_url }}" title="Euradionantes sur Flickr" class="share-flickr" target="_blank"><img src="{{ asset('/assets/images/flickr.svg') }}" alt="Icone Flickr"></a>
  </div>
</div>
