<div class="player-social">
  <a href="https://twitter.com/euradionantes" target="_blank" title="Lien vers la page Facebook d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/facebook.svg') }}" alt="Icone facebook"></a>
  <a href="https://www.facebook.com/pages/EuradioNantes/119060581473600" target="_blank" title="Lien vers la page Twitter d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/twitter.svg') }}" alt="Icone twitter"></a>
  <a href="https://plus.google.com/104061818216863002695" target="_blank" title="Lien vers la page Youtube d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/youtube.svg') }}" alt="Icone youtube"></a>
  <a href="https://www.flickr.com/photos/euradionantes" target="_blank" title="Lien vers la page Flickr d’Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/flickr.svg') }}" alt="Icone flickr"></a>
  <a href="#newsletter-subscription" title="Envoyer un email à Euradionantes" class="player-social-link"><img src="{{ asset('/assets/images/mail.svg') }}" alt="Icone mail"></a>
</div>
