<section class="content-main">
  {{ wo_render_breadcrumbs() }}

  {# if entity.categoryStaticContent -%}
    <span class="bloc-content-cat">{{ entity.categoryStaticContent.name }}</span>
  {%- endif #}
    {#}
  <time datetime="{{ entity.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ entity.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
    #}

  <h1 class="content-title">{{ entity.name }}</h1>

  {% if entity.image -%}
    <figure class="content-img">
      <img src="{% path entity.image, 'large' %}" srcset="{% path entity.image, 'large_mobile' %} 480w, {% path entity.image, 'large' %} 1900w" alt="Illustration de la page" class="bloc-content-img img-responsive">
    </figure>
  {%- endif %}

  {{ entity.body|raw }}

  <section id="contact-form" class="comment">
    <h3 class="comment-title2">Envoyer une demande de contact</h3>{#'title_leave_comment'|trans({}, 'SonataNewsBundle') #}

    {% if form.vars.errors|length > 0 -%}
      {% for i, error in form.vars.errors -%}
          <div class="comment-message"><i class="ico-info"></i><span>{{ error.message }}</span></div>
      {%- endfor %}
    {% endif -%}

    {% if app.session.flashbag.has('contact') %}
      {%- for flashMessage in app.session.flashbag.get('contact') -%}
        <div class="comment-message">
          <i class="ico-info"></i><span>{{ flashMessage }}</span>
        </div>
      {%- endfor -%}

    {% endif %}

    <div class="comment-message"><i class="ico-info"></i><span>Les champs marqués d’un astérisque (*) sont obligatoires.</span></div>
    <form action="{{ path('contact') }}#contact-form" method="post" {{ form_enctype(form) }}>
      <div class="comment-textarea">
        {{ form_label(form.recipient, 'Destinataire *', {'label_attr': {'class': 'comment-label required'}}) }}
        {{ form_widget(form.recipient, {'attr': {'class': 'filter-select'}}) }}
        {% if form.recipient.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.recipient.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>
      <div class="comment-textarea">
        {{ form_label(form.subject, 'Sujet de l’e-mail *', {'label_attr': {'class': 'comment-label required'}}) }}
        {{ form_widget(form.subject, {'attr': {'placeholder': 'Demande de renseignements'}}) }}
        {% if form.subject.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.subject.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>
      <div class="comment-textarea">
        {{ form_label(form.body, 'Votre message *', {'label_attr': {'class': 'comment-label required'}}) }}
        {{ form_widget(form.body, {'attr': {'placeholder': 'Votre message ou commentaire'}}) }}
        {% if form.body.vars.errors|length > 0 %}
          <small class="comment-errors">
            {% for i, error in form.body.vars.errors -%}
              {% if i > 0 %}<br>{% endif %}
              <strong>{{ error.message }}</strong>
            {% endfor %}
          </small>
        {% endif %}
      </div>
      <div class="comment-inputs comment-inputs-contact">
        <div class="comment-input">
          {{ form_label(form.name, 'Votre nom *', {'label_attr': {'class': 'comment-label required'}}) }}
          {{ form_widget(form.name, {'attr': {'placeholder': 'Nom prénom'}}) }}
          {% if form.name.vars.errors|length > 0 %}
            <small class="comment-errors">
              {% for i, error in form.name.vars.errors -%}
                {% if i > 0 %}<br>{% endif %}
                <strong>{{ error.message }}</strong>
              {% endfor %}
            </small>
          {% endif %}
        </div>
        <div class="comment-input">
          {{ form_label(form.company, 'Votre société', {'label_attr': {'class': 'comment-label'}}) }}
          {{ form_widget(form.company, {'attr': {'placeholder': 'Entreprise'}}) }}
          {% if form.company.vars.errors|length > 0 %}
            <small class="comment-errors">
              {% for i, error in form.company.vars.errors -%}
                {% if i > 0 %}<br>{% endif %}
                <strong>{{ error.message }}</strong>
              {% endfor %}
            </small>
          {% endif %}
        </div>
        <div class="comment-input">
          {{ form_label(form.email, 'Votre adresse e-mail *', {'label_attr': {'class': 'comment-label required'}}) }}
          {{ form_widget(form.email, {'attr': {'placeholder': 'adresse@email.com'}}) }}
          {% if form.email.vars.errors|length > 0 %}
            <small class="comment-errors">
              {% for i, error in form.email.vars.errors -%}
                {% if i > 0 %}<br>{% endif %}
                <strong>{{ error.message }}</strong>
              {% endfor %}
            </small>
          {% endif %}
        </div>
        <div class="comment-input">
          {# form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' #}
          {{ form_widget(form.recaptcha) }}
          {% if form.recaptcha.vars.errors|length > 0 %}
            <small class="comment-errors">
              {% for i, error in form.recaptcha.vars.errors -%}
                {% if i > 0 %}<br>{% endif %}
                <strong>{{ error.message }}</strong>
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>
      {#{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
      {{ form_widget(form.recaptcha, { 'attr': {'options': {'theme' : 'clean'}}}) }}#}

      <input type="submit" value="Envoyer votre demande" class="comment-submit">

    {{ form_end(form) }}
  </section>

  {{ include('SiteBundle:Social:share.html.twig') }}

</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
  {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>

