{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
  {# sonata_page_render_container('header', 'global') #}
  <header class="header">
    <div class="container">
      <a href="{{ path('home') }}" title="Lien vers la page d'accueil d'Euradionantes"><img src="{{ asset('/assets/images/logo-header.svg') }}" alt="Logo d'EuradioNantes" class="header-logo"></a>
      <button class="header-menu-button">
        <svg width="22" height="40">
          <line x1="1" y1="15" x2="22" y2="15" class="line-01"></line>
          <line x1="1" y1="22" x2="22" y2="22" class="line-02"></line>
          <line x1="1" y1="30" x2="22" y2="30" class="line-03"></line>
        </svg>
      </button>
      <button class="header-menu-back">‹ Retour</button>
      <div class="header-menu">
        <nav class="header-menu-nav">
          {% set menuItem = knp_menu_get('MenuBundle:Builder:mainMenu', {}, {'idmenu': 1 }) %}
          {{ knp_menu_render(menuItem) }}
        </nav>
        <form action="{{ path('search') }}" class="header-search">
          <input name="search" type="search" placeholder="Recherche" class="header-search-input">
          <input type="submit" value="" class="header-search-submit">
        </form>
      </div>
    </div>
  </header>

  {% block broadcast_player %}
    {{ render(controller('ProgramBundle:Program:onair')) }}
  {% endblock %}

  {# if page is defined %}
      <div class="row">
          {% if page.name != 'global'%}
              {{ sonata_page_render_container('content_top', 'global') }}
          {% endif %}
          {{ sonata_page_render_container('content_top', page) }}
      </div>
  {% endif #}

  {# block sonata_page_breadcrumb %}
      <div class="breadcrumb">
          {% if sonata_seo_context is not defined %}
              {% set sonata_seo_context = 'homepage' %}
          {% endif %}
          {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}
      </div>
  {% endblock #}
  {% if sonata_seo_context is not defined %}
      {% set sonata_seo_context = 'content' %}
  {% endif %}

  <main class="">
      <div class="{{ sonata_seo_context == 'homepage' ? 'home' : 'content' }} container">
          {% block page_content %}
              {% if content is defined %}
                  {{ content|raw }}
              {% else %}
                  {% set content = block('content') %}
                  {% if content|length > 0 %}
                      {{ content|raw }}
                  {% elseif page is defined %}
                      {{ sonata_page_render_container('content', page) }}
                  {% endif %}
              {% endif %}
          {% endblock %}
      </div>
  </main>

  {# if page is defined %}
      <div class="row">
          {{ sonata_page_render_container('content_bottom', page) }}

          {% if page.name != 'global'%}
              {{ sonata_page_render_container('content_bottom', 'global') }}
          {% endif %}
      </div>
  {% endif #}

  <footer class="footer">
    <div class="container">
      {# sonata_page_render_container('footer', 'global') #}
      <a href="{{ path('home') }}" title="Lien vers la page d'accueil d'Euradionantes"><img src="{{ asset('assets/images/logo-footer.svg') }}" alt="logo d'Euradionantes" class="footer-logo"></a>
      {#<ul>
        <li><a href="contact.html" title="lien vers la page de contact" class="footer-link">Contact</a></li>
        <li><a href="plan-du-site.html" title="lien vers la page plan du site" class="footer-link">Plan du site</a></li>
        <li><a href="credits.html" title="lien vers la page de crédits" class="footer-link">Crédits</a></li>
        <li><a href="mentions-legales.html" title="lien vers la page des mentions légales" class="footer-link">Mentions légales</a></li>
        <li><a href="partenaires.html" title="lien vers la page des partenaires" class="footer-link">Partenaires</a></li>
        <li><a href="soutenir.html" title="lien vers la page soutenir Euradio" class="footer-link">Soutenir Euradionantes</a></li>
      </ul>#}
      {% set menuFooter = knp_menu_get('MenuBundle:Builder:footerMenu', {}, {'idmenu': 4 }) %}
      {{ knp_menu_render(menuFooter) }}
    </div>
  </footer>
{% endblock %}
