<section class="actu-list">
  <div class="breadcrumb">
    <a href="#" title="Lien vers la page d'accueil d'euradionantes" class="breadcrumb-item">Accueil</a><a href="#" title="Lien vers la page des actualitées" class="breadcrumb-item">Actualités</a><span class="breadcrumb-item">Les Lorem Ipsum en concert</span>
    {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context is defined ? sonata_seo_context : 'homepage' , 'current_uri': app.request.requestUri }) }}
  </div>

  <h1 class="actu-list-title">Label européen du mois</h1>

  {% set top = labels|first %}
  {% if top -%}
    <article data-clickable="true" class="bloc-content">
      <div class="bloc-content-inner">
        {% if top.image -%}
          <figure class="bloc-content-figure"><img src="{% path top.image, 'list_tablet' %}" srcset="{% path top.image, 'list_mobile' %} 480w, {% path top.image, 'list_tablet' %} 1900w" alt="Illustration de l'article « {{ top.title }} »" class="bloc-content-img img-responsive"></figure>
        {%- endif %}
        <div class="bloc-content-text">
          {# if top.collection -%}
            <span class="bloc-content-cat">{{ top.collection.name }}</span>
          {%- endif #}
          <time datetime="{{ top.featuredFrom | date('Y-m-d H:i') }}" class="bloc-content-date">{{ top.featuredFrom | localizeddate('long', 'none', 'fr-FR') }}</time>
          <h2 class="bloc-content-title">
            <a href="{{ path('label', {'slug': top.slug}) }}" data-clickable-target="true" title="Voir « {{ top.title }} »">{{ top.title }}</a>
          </h2>
          {{ top.resume|raw }}
        </div>
      </div>
    </article>

    <div class="list">
      {% for label in labels[1:] %}
      <article data-clickable="true" class="bloc-content">
        <div class="bloc-content-inner">
          {% if label.image -%}
            <figure class="bloc-content-figure"><img src="{% path label.image, 'list_tablet' %}" srcset="{% path label.image, 'list_mobile' %} 480w, {% path label.image, 'list_tablet' %} 992w, {% path label.image, 'list_desktop' %} 1900w" alt="Illustration du label « {{ label.title }} »" class="bloc-content-img img-responsive"></figure>
          {%- endif %}
          <div class="bloc-content-text">
            {# if label.collection -%}
              <span class="bloc-content-cat">{{ label.collection.name }}</span>
            {%- endif #}
            <time datetime="{{ label.featuredFrom | date('Y-m-d H:i') }}" class="bloc-content-date">{{ label.featuredFrom | localizeddate('long', 'none', 'fr-FR') }}</time>
            <h2 class="bloc-content-title">
              <a href="{{ path('label', {'slug': label.slug}) }}" data-clickable-target="true" title="Voir « {{ label.title }} »">{{ label.title }}</a>
            </h2>
            {{ label.resume|raw }}
          </div>
        </div>
      </article>

      {% endfor %}
    </div>
  {%- else -%}
    <p><em>Aucun résultat</em></p>
  {%- endif %}

  {{ knp_pagination_render(labels) }}

</section>
<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
  </div>
</aside>
