<section class="actu-list grille">
  {{ wo_render_breadcrumbs() }}

  <h1>C’était quoi ce titre&nbsp;?</h1>

  <div class="grille-pagination">
  	{% if start == now %}
		  <a href="{{ path('broadcast') }}?day={{ start|date_modify('-1 day')|date('Y-m-d') }}" id="prev_day" title="afficher la journée précédente" class="grille-pagination-prev">‹ hier</a>
		{% elseif start > now|date_modify('-7 days') %}
		  <a href="{{ path('broadcast') }}?day={{ start|date_modify('-1 day')|date('Y-m-d')}}" id="prev_day" title="afficher la journée précédente" class="grille-pagination-prev">‹ Jour précédent</a>
		{% else %}
      <span class="grille-pagination-prev"></span>
    {% endif %}

		<span class="grille-pagination-choose"></span>

    {% if start == now|date_modify('-1 day') %}
    	<a href="{{ path('broadcast') }}?day={{ start|date_modify('+1 day')|date('Y-m-d') }}" id="next_day" title="afficher la journée suivante" class="grille-pagination-next">Aujourd’hui ›</a>
    {% elseif start < now %}
    	<a href="{{ path('broadcast') }}?day={{ start|date_modify('+1 day')|date('Y-m-d') }}" id="next_day" title="afficher la journée suivante" class="grille-pagination-next">Jour suivant ›</a>
    {% endif %}
  </div>

	<div class="grille-list">
		<h2 class="grille-list-title">{{ start == now ? 'Aujourd’hui' : start|localizeddate('full', 'none', 'fr-FR') }}</h2>

		{% if entities|length > 0 -%}
			<section class="walkman-container walkman-playlist">

		    <ol class="playlist-list">
		      {% for broadcast in entities -%}
		        <li class="playlist-item">
		          <time class="playlist-item-time" datetime="{{ broadcast.broadcasted|date('Y-m-d H:i') }}">{{ broadcast.broadcasted|date('H:i') }}&nbsp;</time>
		          {% if broadcast.track %}
		            <strong class="playlist-track-title">{{ broadcast.track.title }}&nbsp;</strong>
		            <span class="playlist-artist">{{ broadcast.track.artist }}&nbsp;</span>
		            <span class="playlist-album">
                  {%- if broadcast.track.album.featuredFrom and broadcast.track.album.featuredTo -%}
                    <a href="{{ path('album', {'slug': broadcast.track.album.slug }) }}">{{ broadcast.track.album.title }}</a>
                  {%- else -%}
                    {{ broadcast.track.album.title }}
                  {%- endif -%}
                </span>
		          {% else %}
		            {% set terms = broadcast.terms|split(' - ') %}
		            <strong class="playlist-track-title">{{ terms[terms|length > 1 ? 1 : 0] }}</strong>
		            {% if terms|length > 1 %}<span class="playlist-artist">{{ terms[0] }}&nbsp;</span>{% endif %}
		            {% if terms|length > 2 %}<span class="playlist-album">{{ terms[2] }}</span>{% endif %}
		          {% endif -%}
		        </li>
		      {% endfor %}
		    </ol>
	  	</section>
	  {%- else -%}
			<p><em>Aucune information disponible</em></p>
		{%- endif %}

	</div>

  <div class="grille-pagination">
  	{% if start == now %}
		  <a href="{{ path('broadcast') }}?day={{ start|date_modify('-1 day')|date('Y-m-d') }}" id="prev_day" title="afficher la journée précédente" class="grille-pagination-prev">‹ hier</a>
		{% elseif start > now|date_modify('-7 days') %}
		  <a href="{{ path('broadcast') }}?day={{ start|date_modify('-1 day')|date('Y-m-d')}}" id="prev_day" title="afficher la journée précédente" class="grille-pagination-prev">‹ Jour précédent</a>
		{% else %}
      <span class="grille-pagination-prev"></span>
    {% endif %}

		<span class="grille-pagination-choose"></span>

    {% if start == now|date_modify('-1 day') %}
    	<a href="{{ path('broadcast') }}?day={{ start|date_modify('+1 day')|date('Y-m-d') }}" id="next_day" title="afficher la journée suivante" class="grille-pagination-next">Aujourd’hui ›</a>
    {% elseif start < now %}
    	<a href="{{ path('broadcast') }}?day={{ start|date_modify('+1 day')|date('Y-m-d') }}" id="next_day" title="afficher la journée suivante" class="grille-pagination-next">Jour suivant ›</a>
    {% endif %}
  </div>
</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
  {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>
