<div class="inner-wrap">
	<div class="page-content">
		<section class="entry group">
			<div class="entry-content programme">
				<h3 style="text-align: center;"><a href="{{ path('programs') }}?week={{ weekNumber - 1}}" id="prev_week">&lt; </a>Programmes de la semaine {{ weekNumber }}<a href="{{ path('programs') }}?week={{ weekNumber + 1}}" id="next_week"> &gt;</a></h3>

				<ul class="tabs" style="margin-left:30px;">
					<li><a href="#tab1">Lundi</a></li>
					<li><a href="#tab2">Mardi</a></li>
					<li><a href="#tab3">Mercredi</a></li>
					<li><a href="#tab4">Jeudi</a></li>
					<li><a href="#tab5">Vendredi</a></li>
					<li><a href="#tab6">Samedi</a></li>
					<li><a href="#tab7">Dimanche</a></li>
				</ul>

				{% for i, day in entities %}
				<div id="tab{{ i + 1 }}">
					<h2>{{ day.date|localizeddate('full', 'none', 'fr-FR')|capitalize }}</h2>

					<ol class="full-day">
					{% for key, value in day if key != 'date' -%}
						{% if value.entities|length > 0 %}
						<li id="{{ key }}" class="group">
							<div class="header">
								<h4>{{ value.label }}</h4>
								{% if value.desc is defined %}
								<b>{{ value.desc }}</b>
							{% endif %}
							</div>
							<ol class="">
						    	{% for entity in value.entities %}
								<li class="item">
									<div class="time">
										{{ entity.timeStart|date('H:i:s') }} -
										{{ entity.timeStop|date('H:i:s') }}
									</div>
									<div class="image-emission_programme">
										<a href="{{ path('emission', {'name': entity.slug}) }}">
											{% if entity.imageEmission %}{% thumbnail entity.imageEmission, 'small' %}{% endif %}
										</a>
										{# if app.security.isGranted(['ROLE_RADIOSOLUTION_PROGRAM_PROGRAM_EDITOR']) or app.security.isGranted('ROLE_SONATA_ADMIN') or app.security.isGranted('ROLE_SONATA_ADMIN') %}
											<div class="podcast_add">
												<a href="/admin/radiosolution/program/program/{{entity.id}}/edit" target="_blank">Ajouter un postcast</a>
											</div>
										{% endif #}
									</div>
									<div class="details title-emission_programme">
										<a href="{{ path('emission', {'name': entity.slug}) }}">
											{{ entity.emission.name }}
										</a>
									</div>
								</li>
					  			{% endfor %}
							</ol>
						</li><!-- fin de tôt -->
						{% endif %}
					{% endfor %}
					</ol>
				</div><!-- fin du jour -->
				{% endfor %}
			</div>
		</section>
	</div>
</div>
<script>
// Wait until the DOM has loaded before querying the document
jQuery(function($){
$(document).ready(function(){
	$('ul.tabs').each(function(){
		// For each set of tabs, we want to keep track of
		// which tab is active and it's associated content
		var $active, $content, $links = $(this).find('a');
		// If the location.hash matches one of the links, use that as the active tab.
		// If no match is found, use the first link as the initial active tab.
		// $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);

		//$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);

		$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[{{  weekNumber == "now"|date('W') ? "now"|date('N') - 1 : 0 }}]);

		//$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]');

		$active.addClass('active');
		$content = $($active.attr('href'));
		// Hide the remaining content
		$links.not($active).each(function () {
		$($(this).attr('href')).hide();
		});
		// Bind the click event handler
		$(this).on('click', 'a', function(e){
		// Make the old tab inactive.
		$active.removeClass('active');
		$content.hide();
		// Update the variables with the new link and content
		$active = $(this);
		$content = $($(this).attr('href'));
		// Make the tab active.
		$active.addClass('active');
		$content.show();
		// Prevent the anchor's default click action
		e.preventDefault();
		});
	});
});
});
</script>
