<section class="actu-list grille">
  {{ wo_render_breadcrumbs() }}

  <h1>Les programmes de la semaine {{ weekNumber }} {{ stop|date('Y') }}</h1>

  <div class="grille-pagination">
  	<a href="{{ path('programs') }}?date={{ start|date_modify('-1 week')|date('Y-m-d')}}" id="prev_week" title="afficher la semaine précédente" class="grille-pagination-prev">‹ Semaine précédente</a>
    <form action="{{ path('programs') }}" class="grille-pagination-choose">
      <label class="grille-pagination-choose-label">Accéder directement à une semaine</label>
      <div class="grille-pagination-choose-field">
        <input type="number" name="week" placeholder="Ex. 15" class="grille-pagination-choose-input">
        <input type="submit" value="Voir" class="grille-pagination-choose-submit">
      </div>
    </form>
    <a href="{{ path('programs') }}?date={{ start|date_modify('+1 week')|date('Y-m-d')}}" id="next_week" title="afficher la semaine suivante" class="grille-pagination-next">Semaine suivante ›</a>
  </div>

  <div class="grille-week-wrap">
    <h2 id="grille-day" class="grille-week">Semaine du {{ start|localizeddate('full', 'none', 'fr-FR') }} au {{ stop|date_modify('-1 day')|localizeddate('full', 'none', 'fr-FR') }}</h2>
    <ul class="actu-list-filters">
      <li class="actu-list-filter actu-list-filter-selected"><a href="#tab1">Lundi</a></li>
      <li class="actu-list-filter"><a href="#tab2">Mardi</a></li>
      <li class="actu-list-filter"><a href="#tab3">Mercredi</a></li>
      <li class="actu-list-filter"><a href="#tab4">Jeudi</a></li>
      <li class="actu-list-filter"><a href="#tab5">Vendredi</a></li>
      <li class="actu-list-filter"><a href="#tab6">Samedi</a></li>
      <li class="actu-list-filter"><a href="#tab7">Dimanche</a></li>
    </ul>
  </div>

  {% if count > 0 -%}
    {%- for i, day in entities -%}
  		<div id="tab{{ i + 1 }}" data-date="{{ day.date|localizeddate('full', 'none', 'fr-FR')|capitalize }}" class="program-tab">
        {% set hasEvents = false %}

        {% for key, value in day if key != 'date' -%}
  				{% if value.entities|length > 0 -%}
            {% set hasEvents = true %}
  					<div id="{{ key ~ (i + 1) }}" class="grille-list">
  						<h2 class="grille-list-title">{{ value.label }}</h2>
  						{% if value.desc is defined -%}
  							<span class="grille-list-schedule">{{ value.desc }}</span>
  						{%- endif %}

  						{%- set parent = false -%}

  					  {%- for entity in value.entities -%}

  					  	{%- set isChild = parent and parent.timeStart <= entity.timeStart and parent.timeStop >= entity.timeStop -%}

  					  	<article class="grille-list-item{% if isChild %} grille-list-item-child{% endif %}">
  					  		<span class="grille-list-hour">{{ entity.timeStart|date('H:i') }} -	{{ entity.timeStop|date('H:i') }}</span>
  					  		{% if entity.imageEmission -%}
  					  			<img src="{% path entity.imageEmission, 'list_program' %}" alt="" class="grille-list-img">
  					  		{%- endif %}
  					      <div class="grille-list-text">
  					      	{% if entity.emission.collection %}
  								  <span class="grille-list-text-suptitle">{{ entity.emission.collection.name }}</span>
  								  {% elseif entity.emission.theme %}
  								  <span class="grille-list-text-suptitle">{{ entity.emission.theme.name }}</span>
  								  {% endif %}
  					        <h3 class="grille-list-text-title">
  					        	<a href="{{ path('emission', {'name': entity.emission.slug}) }}">{{ entity.emission.name }}</a>
  					        </h3>
  					      </div>
  					    </article>

  					    {%- if not isChild -%}
  					    {%- set parent = entity -%}
  					    {%- endif -%}

  				  	{%- endfor %}
  					</div>
  				{%- endif %}
  			{%- endfor %}

        {% if not hasEvents -%}
          <p><em>Aucune programmation disponible pour la journée du {{ day.date|localizeddate('full', 'none', 'fr-FR')|capitalize }}</em></p>
        {%- endif %}
  		</div>
  	{%- endfor -%}
  {%- else -%}
  <p><em>Aucune programmation disponible pour la semaine {{ weekNumber }}</em></p>
  {%- endif %}

  <div class="grille-pagination">
  	<a href="{{ path('programs') }}?date={{ start|date_modify('-1 week')|date('Y-m-d')}}" id="prev_week" title="afficher la semaine précédente" class="grille-pagination-prev">‹ Semaine précédente</a>
    <form action="{{ path('programs') }}" class="grille-pagination-choose">
      <label class="grille-pagination-choose-label">Accéder directement à une semaine</label>
      <div class="grille-pagination-choose-field">
        <input type="number" name="week" placeholder="Ex. 15" class="grille-pagination-choose-input">
        <input type="submit" value="Voir" class="grille-pagination-choose-submit">
      </div>
    </form>
    <a href="{{ path('programs') }}?date={{ start|date_modify('+1 week')|date('Y-m-d')}}" id="next_week" title="afficher la semaine suivante" class="grille-pagination-next">Semaine suivante ›</a>
  </div>
</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
  </div>
</aside>
<script>
  var dayNumber = {{  weekNumber == "now"|date('W') ? "now"|date('N') - 1 : 0 }};
</script>
