{% extends app.request.isxmlhttprequest ? 'ProgramBundle::empty_layout.html.twig' : 'ProgramBundle::layout_ecoute.html.twig' %}

{% block content %}
  <div class="walkman-container walkman-now">
    {% if program %}
      <section class="walkman-show">
        <h2 class="sr-only">Émission à l’écoute</h2>
        <div class="show">
          {% if program.emission.media %}
            <img src="//lorempixel.com/85/43" alt="" class="show-image">
          {% endif %}
          <ul class="show-info">
            <li class="show-time">
              <time>{{ program.timeStart|date('h\\hi') }} - {{ program.timeStop|date('h\\hi') }}</time>
            </li>
            <li class="show-name"><a href="{{ path('emission', {'name': program.emission.slug}) }}" target="_parent">{{ program.emission.name }}</a></li>
          </ul>
        </div>
      </section>
    {% endif %}

    {% if onair %}
      <section class="walkman-track">
        <h2 class="walkman-track-title">En ce moment</h2>
        <div class="track">
          {% if onair.track and onair.track.album %}
            {% if onair.track.album.image %}
              <img src="//lorempixel.com/86/86" alt="" class="track-image">
            {% elseif onair.track.album.thumbnailUrl %}
              <img src="{{ onair.track.album.thumbnailUrl }}" alt="" class="track-image">
            {% endif %}
          {% endif %}
          <ul class="track-info">
            {% if onair.track %}
              <li class="track-title"><strong>{{ onair.track.title }}&nbsp;</strong></li>
              <li class="track-artist">{{ onair.track.artist }}&nbsp;</li>
              <li class="track-album">
                {%- if broadcast.track.album.featuredFrom and broadcast.track.album.featuredTo -%}
                  <a href="{{ path('album', {'slug': broadcast.track.album.slug }) }}">{{ broadcast.track.album.title }}</a>
                {%- else -%}
                  {{ broadcast.track.album.title }}
                {%- endif -%}
              </li>
            {% else %}
              {% set terms = onair.terms|split(' - ') %}
              <li class="track-title"><strong>{{ terms[terms|length > 1 ? 1 : 0] }}</strong></li>
              {% if terms|length > 1 %}<li class="track-artist">{{ terms[0] }}&nbsp;</li>{% endif %}
              {% if terms|length > 2 %}<li class="track-album">{{ terms[2] }}</li>{% endif %}
            {% endif -%}
          </ul>
        </div>
      </section>
    {% endif %}
  </div>
  <section class="walkman-container walkman-playlist">
    <h2 class="playlist-title">Vous avez entendu</h2>
    <ol class="playlist-list">
      {% for broadcast in broadcasts -%}
        <li class="playlist-item">
          <time class="playlist-item-time" datetime="{{ broadcast.broadcasted|date('Y-m-d H:i') }}">{{ broadcast.broadcasted|date('H:i') }}&nbsp;</time>
          {% if broadcast.track %}
            <strong class="playlist-track-title">{{ broadcast.track.title }}&nbsp;</strong>
            <span class="playlist-artist">{{ broadcast.track.artist }}&nbsp;</span>
            <span class="playlist-album">
              {%- if broadcast.track.album.featuredFrom and broadcast.track.album.featuredTo -%}
                <a href="{{ path('album', {'slug': broadcast.track.album.slug }) }}">{{ broadcast.track.album.title }}</a>
              {%- else -%}
                {{ broadcast.track.album.title }}
              {%- endif -%}
            </span>
          {% else %}
            {% set terms = broadcast.terms|split(' - ') %}
            <strong class="playlist-track-title">{{ terms[terms|length > 1 ? 1 : 0] }}</strong>
            {% if terms|length > 1 %}<span class="playlist-artist">{{ terms[0] }}&nbsp;</span>{% endif %}
            {% if terms|length > 2 %}<span class="playlist-album">{{ terms[2] }}</span>{% endif %}
          {% endif -%}
        </li>
      {% endfor %}
    </ol>
  </section>
{% endblock %}
