<section class="content-main">
  {{ wo_render_breadcrumbs() }}

  {# if entity.collection %}
  <span class="bloc-content-cat">{{ entity.collection.name }}</span>
  {% elseif entity.theme %}
  <span class="bloc-content-cat">{{ entity.theme.name }}</span>
  {% endif #}

  <h1 class="content-title">{{ entity.name }}</h1>

  {# if entity.media %}
  <figure class="content-img"><img src="{% path entity.media, 'large' %}" srcset="{% path entity.media, 'large_mobile' %} 480w, {% path entity.media, 'large' %} 1900w" alt="Image de l'article" class="bloc-content-img img-responsive"></figure>
  {% endif #}

  <div class="rte">
    {{ entity.body|raw }}
  </div>

  <article class="podcast podcast-list">

    {% for entity in entities -%}
      <div class="podcast-item">
        <h3 class="podcast-item-title"><a href="{{ path('static_content', {'slug': entity.slug}) }}">{{ entity.name }}</a></h3>
        <p class="podcast-item-text">{{ entity.introduction | striptags | raw }}</p>
        {#<span class="podcast-item-date">{{ entity.realtimestart|format_datetime("dd MMM Y H'h'mm", 'fr', 'Europe/Paris') }}</span>#}
      </div>

    {%- endfor %}
  </article>

  {{ knp_pagination_render(entities) }}

  {{ include('SiteBundle:Social:share.html.twig') }}
</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
  </div>
</aside>

