<section class="content-main">
  <div class="breadcrumb">
  	<a href="#" title="Lien vers la page d'accueil d'euradionantes" class="breadcrumb-item">Accueil</a><a href="#" title="Lien vers la page des actualitées" class="breadcrumb-item">Actualités</a><span class="breadcrumb-item">Les Lorem Ipsum en concert</span>
  	{{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context is defined ? sonata_seo_context : 'homepage' , 'current_uri': app.request.requestUri }) }}
  </div>

  {# if entity.categoryStaticContent -%}
    <span class="bloc-content-cat">{{ entity.categoryStaticContent.name }}</span>
  {%- endif #}
	{#}
  <time datetime="{{ entity.publicationDateStart | date('Y-m-d H:i') }}" class="bloc-content-date">{{ entity.publicationDateStart | localizeddate('long', 'none', 'fr-FR') }}</time>
	#}

  <h1 class="content-title">{{ entity.name }}</h1>

  {% if entity.image -%}
    <figure class="content-img">
      <img src="{% path entity.image, 'large' %}" srcset="{% path entity.image, 'large_mobile' %} 480w, {% path entity.image, 'large' %} 1900w" alt="Illustration de la page" class="bloc-content-img img-responsive">
    </figure>
  {%- endif %}

  {{ entity.body|raw }}

  {# if entity.author %}
  <div data-clickable="true" class="author">
    {% if entity.author.image %}
    <img src="//unsplash.it/50x50" alt="" class="author-img">
    {% endif %}
    <div class="author-text">
      {% set authorname = entity.author.fullname != '' ? entity.author.fullname : entity.author.username %}
      <div class="author-sup">Rédigé par</div><a href="#" data-clickable-target="true" title="Lien vers les articles de {{ authorname }}" class="author-title">{{ authorname }}</a>
    </div>
  </div>
  {% endif #}

  {{ include(':Social:share.html.twig') }}

</section>
<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}

    {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
  </div>
</aside>
