<section class="actu-list">
  {{ wo_render_breadcrumbs() }}

  <h1 class="actu-list-title">Les émissions de A à Z</h1>

  <div class="filter">
    <h2>Naviguer parmi les émissions</h2>
    <form action="{{ path(app.request.attributes.get('_route')) }}" class="filter-fields-group">
      <div class="filter-fields">
        <label class="filter-label">Thèmes</label>
        <div>
          <select name="theme" class="filter-select">
            <option value="">Sélectionnez un thème</option>
            {% for theme in themes %}
            <option value="{{ theme.id }}"{% if app.request.get('theme') == theme.id %} selected{% endif %}>{{ theme.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="filter-fields">
        <label class="filter-label">Périodicité</label>
        <div>
          <select class="filter-select" name="frequency">
            <option value="">Sélectionnez une périodicité</option>
            {% for frequency in frequencies  %}
            <option value="{{ frequency.id }}"{% if app.request.get('frequency') == frequency.id %} selected{% endif %}>{{ frequency.titre }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="filter-fields">
        <input type="submit" value="Filter les émissions" class="filter-submit">
      </div>
    </form>
  </div>

  <div class="filter-quick">
    <label class="filter-label">Accès rapide aux émissions</label>
    <select class="filter-select filter-quick-select" id="emission-quickmenu">
      <option>Sélectionnez une émission</option>
      {% for emission in emissions -%}
        <option data-href="{{ path('emission', {'name': emission.slug}) }}">{{ emission.name }}</option>
      {%- endfor %}
    </select>
  </div>

  <section class="list">
    {% for entity in entities %}
    <article data-clickable="true" class="bloc-content">
      <div class="bloc-content-inner">
        {% if entity.media -%}
          <figure class="bloc-content-figure"><img src="{% path entity.media, 'large' %}" srcset="{% path entity.media, 'list_mobile' %} 480w, {% path entity.media, 'list_tablet' %} 992w, {% path entity.media, 'list_desktop' %} 1900w" alt="Image de l'émission « {{ entity.name }} »" class="bloc-content-img img-responsive"></figure>
        {%- endif %}

        <div class="bloc-content-text">
          {% if entity.collection %}
          <span class="bloc-content-cat">{{ entity.collection.name }}</span>
          {% elseif entity.theme %}
          <span class="bloc-content-cat">{{ entity.theme.name }}</span>
          {% endif %}

          {% if entity.frequency %}
          <span class="bloc-content-date">{{ entity.frequency.titre }}</span>
          {% endif %}

          <h2 class="bloc-content-title">
            <a href="{{ path('emission', {'name': entity.slug}) }}" data-clickable-target="true" title="Lien vers l'article">{{ entity.name }}</a>
          </h2>
          <p>{{ entity.description| striptags | truncate(140, true, "…") | raw }}</p>
        </div>
      </div>
    </article>

    {% else %}
    <p><em>Aucun résultat</em></p>

    {% endfor %}
  </section>

  {{ knp_pagination_render(entities) }}
</section>

<aside class="content-aside">
  <div class="content-aside-inner">
    {{ render(controller('SonataNewsBundle:Post:getAsidePosts')) }}
  </div>
  {{ render(controller('SiteBundle:Newsletter:subscribe')) }}
</aside>
