	<section class="entry group">
		<div class="entry-content emissions">
			<h3>Les émissions d'Eur@dioNantes</h3>
            <form action="{{ path(app.request.attributes.get('_route')) }}"  method="get">
                <div class="first-dropdown">
                    <h4>Thèmes</h4>
                    <select data-placeholder="Choisissez un thème" class="chzn-select" name="theme">
                        <option value="">Choisissez un thème</option>
                        {% for theme in themes %}
                        <option value="{{ theme.id }}"{% if app.request.get('theme') == theme.id %} selected{% endif %}>{{ theme.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="second-dropdown">
                	<h4>Périodicité</h4>
                	<select data-placeholder="Choisissez une périodicité" style="width:200px;" class="chzn-select" tabindex="8"  name="frequency">
                        <option value="">Choisissez une périodicité</option>
                        {% for frequency in frequencies  %}
                        <option value="{{ frequency.id }}"{% if app.request.get('frequency') == frequency.id %} selected{% endif %}>{{ frequency.titre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="third-dropdown">
                    <h4>Archive</h4>
                	<input type="checkbox" name="archive" value="1" {% if app.request.get('archive') == 1 %} checked="checked"{% endif %}/>
                </div>

                <input class="btn-selectionner submit-emission-filter" type="submit" value="Sélectionner">
                <a href="{{ path('emissions') }}">Supprimer le filtre</a>
            </form>

            <div class="navigation">
               {{ knp_pagination_render(entities) }}
            </div>

            <div class="emissions-list group">
                {% set class = 'first'%}
                {% for entity in entities %}
                <article class="emission {{ class }}">
					<figure class="image">
                        <a href="{{ path('emission', {'name': entity.slug}) }}">
							{% if entity.media() -%}
								{%thumbnail entity.media ,'medium' %}
							{%- else -%}
								<img src="/upload/default.jpg" alt="podcast à la une" />
							{%- endif %}
						</a>
					</figure>
                    {% if entity.theme %}
                    <span class="emission-theme">{{ entity.theme.name }}</span>
                    {% endif %}
                    {% if entity.frequency %}
                    <span class="emission-frequency">{{ entity.frequency.titre }}</span>
                    {% endif %}
                    <a href="{{ path('emission', {'name': entity.slug}) }}">
                        <h2><span>{{ entity.name }}</span></h2>
    					<p>{{ entity.description| striptags | truncate(200, true, "...") | raw }}</p>
					</a>
				</article>
				{% if  class == 'first'%}
					{% set class = '' %}
				{% else %}
					{% set class = 'first'%}
				{% endif %}
                {% endfor %}
            </div>

            <div class="navigation">
                {{ knp_pagination_render(entities) }}
        	</div>
        </div>
    </section>

