    <section class="entry group">
        <div class="entry-content emission">
            <div style="position:absolute;right:0;top:0;">
                <a style="float:right;" title="S'abonner à notre flux RSS." class="icn-orange rss" href="/rss/emission/{{ entity.slug }}" target="_blank">S'abonner à notre flux RSS.</a>
            </div>

            {% if entity.theme %}
            <span class="emission-theme">{{ entity.theme.name }}</span>
            {% endif %}
            {% if entity.frequency %}
            <span class="emission-frequency">{{ entity.frequency.titre }}</span>
            {% endif %}

            <h1>{{ entity.name }}</h1>

            <figure class="picture-infos">
                {% if entity.media %}
                    {% thumbnail entity.media ,'medium' %}
                {% else %}
                    <img src="/upload/default.jpg" alt="" />
                {% endif %}
            </figure>

            {{ entity.description|raw }}

            <div class="block group">
                <h3>Les derniers podcasts de l’émission</h3>

                {{ render(controller('PodcastBundle:Podcast:emission', { 'id': entity.id, 'page': app.request.get('page'), 'title': entity.name ~ ' - Émission - Eur@dioNantes' })) }}
            </div>
        </div>
    </section>
